<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SIEMS_2.Properties.Settings.DB_SIEMSConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\DB_SIEMS.mdb"
            providerName="System.Data.OleDb" />
        <add name="SIEMS_2.Properties.Settings.SIEMS_DBConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\PSurasinghe\Documents\SIEMS_DB.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="SIEMS_2.Properties.Settings.connection" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\SIEMS_DB.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="SIEMS_2.Properties.Settings.RegisterDBConnectionString"
            connectionString="Data Source=|DataDirectory|\RegisterDB.sdf"
            providerName="Microsoft.SqlServerCe.Client.4.0" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>